.box {
  background: red;
  width: 100px;
  height: 100px;
  cursor: move;
}



// .wrap {
// 	position: relative;
// }

.widgit-dragging {
  opacity: 0.5;
  animation: begindrag 0.8s ease forwards;
	// animation: begindrag forwards;
	transform-origin: center;

}

@keyframes begindrag {
  0% {
    transform: scale(1);
		// background-color: blue;
  }

  10% {
    // transform: rotate(0.5turn); 
		transform: scale(1.1);
		background-color: blue;
  }

	50% {
		transform: scale(1);
		background-color: red;
	}
}

.widgit-sizer {
	position: absolute;
	background-color: transparent;
	z-index: 3;
	width: 15px;
	height: 15px;
}

.widgit-sizer.widgit-nw {
	cursor: nw-resize;
	top: 0px;
	left: 0px;
}

.widgit-sizer.widgit-ne {
	cursor: ne-resize;
	top: 0px;
	right: 0px;
}

.widgit-sizer.widgit-sw {
	cursor: sw-resize;
	bottom: 0px;
	left: 0px;

}

.widgit-sizer.widgit-se {
	cursor: se-resize;
	bottom: 0px;
	right: 0px;

}