.home-landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  color: white;
  h1 {
    font-weight: 500;
  }

  button {
    color: white;
    font-size: 10%;
  }
}

.home-topBar {
  width: 100%;
  background: none;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: 15px 5%;
  a {
    color: black;
		cursor: pointer;
  }
}

.home-tabs {
	margin: 15px 0;
}

.home-bottom {
	padding: 0 20px;
}