.box {
  background: red;
  width: 100px;
  height: 100px;
}

html,
body {
  position: relative;
}

.widgit-taskbar button {
  background: none;
  border-style: none;
  color: white;
  padding: 0.5rem 0.5rem;
}

.widgit-taskbar button:hover {
  background-color: #848f9a !important;
}

.widgit-removeWidget {
  -webkit-animation: popAnimation-remove 0.8s ease forwards;
          animation: popAnimation-remove 0.8s ease forwards;
  height: 0px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

.widgit-dragging {
  -webkit-animation: popAnimation 0.8s ease forwards, jiggle 0.1s ease-in-out infinite alternate;
          animation: popAnimation 0.8s ease forwards, jiggle 0.1s ease-in-out infinite alternate;
  opacity: 0.5;
}

.widget-widgitStyle {
  background-color: #f8f5f2;
  border-radius: 10px;
  z-index: 10;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  margin: 0;
  overflow-y: scroll;
  -webkit-animation: popAnimation-wrapper 0.8s ease forwards;
          animation: popAnimation-wrapper 0.8s ease forwards;
}

.widget-expandButtonClass {
  background: #ddd;
}

.widget-expandButtonClass:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

@-webkit-keyframes slideIn {
  0% {
    right: 110px;
    width: 0px;
  }
  100% {
    width: 100px;
    right: -100px;
  }
}

@-webkit-keyframes slideOut {
  0% {
    width: 100px;
    right: -100px;
  }
  100% {
    right: 110px;
    width: 0px;
  }
}

@-webkit-keyframes jiggle {
  from {
    -webkit-transform: rotate(1deg);
  }
  to {
    -webkit-transform: rotate(-1deg);
    -webkit-transform-origin: center center;
  }
}

@keyframes jiggle {
  from {
    -webkit-transform: rotate(1deg);
  }
  to {
    -webkit-transform: rotate(-1deg);
    -webkit-transform-origin: center center;
  }
}

@-webkit-keyframes popAnimation-remove {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes popAnimation-remove {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes popAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #848f9a;
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background-color: inherit;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes popAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #848f9a;
  }
  20% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    background-color: inherit;
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@-webkit-keyframes popAnimation-wrapper {
  0% {
  }
  10% {
    background-color: #848f9a;
  }
  20% {
  }
  100% {
  }
}

@keyframes popAnimation-wrapper {
  0% {
  }
  10% {
    background-color: #848f9a;
  }
  20% {
  }
  100% {
  }
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */